body {
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
}

.container  {
  margin-top: 100px;
}

.calculator {
  width: 700px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

.display {
  width: 700px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #000;
}

#result {
  font-size: 25px;
  text-align: right;
  margin-top: 10px;
  margin-right: 10px;
}

button {
  font-size: 15px;
}

.numbers {
  width: 360px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.number {
  width: 120px;
  height: 50px;
  background-color: #fff;
}

#dot {
  margin-top: 50px;
  margin-left: -120px;
}

.operators {
  width: 60px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}

.operator {
  width: 60px;
  height: 50px;
  background-color: #fff;
}

.memory {
  width: 280px;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
}

.memorySlot {
  width: 280px;
  height: 48px;
  background-color: #fff;
  border: 1px solid black;
}

.delete {
  width: 80px;
  height: 50px;
  background-color: #fff;
  float: right;
}

.save {
  width: 120px;
  height: 100px;
  margin-top: -100px;
  margin-left: 120px;
}

#saveButton {
  width: 120px;
  height: 100px;
  background-color: #fff;
}

.cancel {
  width: 120px;
  height: 100px;
  margin-top: -100px;
}

#cancelButton {
  width: 120px;
  height: 100px;
  background-color: #fff;
}

/*button,
button:hover,
button:active,
button:visited {
  text-decoration: none !important;
  outline: none !important;
}*/

a,
a:hover,
a:active,
a:visited {
  color: #922031;
  text-decoration: none !important;
  outline: none !important;
}

ul {
  list-style-type: none;
  margin-top: 5px;
}
